.rodapé {
    background: #C4C4C4;
    width: 100%;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: end;
   
}

.contato {
    color: #fdfdfd;
    font-size: 32px;
    margin-right: 20px ;
}

.bolinha-vermelha {
    width: 30px;
    height: 30px;
    background: #8D0606;
    margin-right: 5px
}

.bolinha-vermelha:last-child {
    margin-right: 40px;
}
